/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bodyTekst: #ffffff;
}

body {
  margin: 0%;

}

header {
  position: relative;
  z-index: 2;
}

main {
  position: absolute;
  top: 0;
  z-index: 0;
}

article {
  width: 100%;
}

article a {
  display: block;
  position: relative;
  overflow: hidden;
}

article:first-of-type a {
  background-image: url;
  background-size: contain;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--bodyTekst);
  text-transform: uppercase;
  text-align: center;

  font-size: 1.6em;
  margin: 0;
}

div {
  position: absolute;
  bottom: 0;
  left: 3em;
}

h2 {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--bodyTekst);

  font-size: 14pt;

}



p {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--bodyTekst);
  font-size: 12pt;
}

img {
  height: auto;
  width: 100%;
  left: 0;
  right: 0;
  display: block;
}

header nav ul {
  transform: translateY(-100%);
}

header.toonMenu {
  transform: translateY(0%);
  background-color: #40474f;
  color: white;

  left: 0;
  right: 0;
  top: 0;
  Bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 40px;
}

header button {
  position: absolute;
  z-index: 200;
}